.header {
  background-color: $backgroundWhite;
  color: $darkBlue;
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  min-width: 97%;

  &-section {
    display: flex;

    img {
      width: 60px;
    }

    h1 {
      text-transform: uppercase;
      display: flex;
      align-items: center;
      margin-left: 30px;
    }
  }

  &-nav {
    display: flex;
    align-items: center;

    &-desktop {
      list-style: none;
      padding-left: 0;
      display: none;
      gap: 60px;
    }

    &-menu {
      position: relative;
      display: none;
      z-index: 30;
      transition: all 0.5s linear;

      .header-nav-mobile {
        list-style: none;
        background-color: $darkBlue;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 20px;
        width: 200px;
        position: absolute;
        left: -190px;
        top: 43px;

        li {
          width: 100%;
          transition: all 0.4s ease-out;
          border-radius: 20px;
          

          &:hover {
            background-color: #57c5b625;
          }

          a {
            display: flex;
            justify-content: center;
            font-size: 20px;
            padding: 15px;
            color: $backgroundWhite;
            text-decoration: none;

          }
        }
      }
    }

    .shadow-line {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-color: $lightBlue;
      border-width: 1px;
      border-radius: 5px;
      box-shadow: 1px 2px 5px rgba(26, 95, 122, 0.75);
    }

    .header-menu {
      border: none;
      cursor: pointer;
      background: unset;

      img {
        width: 40px;
        height: 40px;
        
      }
    }
  }
}



@media screen and (min-width: 1280px) {
  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-desktop {
    list-style: none;
    display: flex;
    gap: 60px;
  }

  .header-nav-menu {
    display: none;
  }

  .header-nav-desktop li a {
    display: flex;
    text-decoration: none;
    font-weight: 600;
    color: #002b5b;
    padding: 10px 20px;
    transition: all 0.15s ease-in;
  }

  .header-nav-desktop li a:hover {
    background-color: $lightGreenWaterTransparent;
    border-radius: 10px;
    box-shadow: 0 2px 0 0 $lightGreenWater;
    transform: translate(-3px, -3px);
  }

  .header-menu {
    display: none;
  }
}
