/* SERVICES */

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-top: 10px;

  &-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 80px;
    gap: 22px;
    width: 100%;
    position: relative;

    .services-img {
      width: 100%;
      max-width: 400px;
      max-height: 250px;
      border-radius: 10px;
      outline: 3px solid $lightBlue;
      box-shadow: 5px 5px 60px $darkBlue;
    }

    .text-container {
      display: flex;
      flex-direction: column;
      width: 90%;
      text-align: justify;

      h3 {
        font-size: 26px;
        text-align: center;
        letter-spacing: 3px;
      }

      p {
        font-size: 15px;
        margin-top: 20px;
        line-height: 25px;
      }
    }
    .logo-right1 {
      right: -70px;
      top: 50px;
      transform: rotate(30deg);
      display: none;
    }

    .logo-left1 {
      left: -70px;
      top: 50px;
      transform: rotate(-30deg);
      display: none;
    }

    .logo-right2 {
      right: 140px;
      top: 80px;
      transform: rotate(30deg);
      display: none;
    }

    .logo-left2 {
      left: 140px;
      top: 80px;
      transform: rotate(-30deg);
      display: none;
    }
  }
}

/* RESPONSIVE */

@media screen and (min-width: 1536px) {
  /* SERVICES */

  .logo-right2 {
    right: 110px;
    top: 80px;
    transform: rotate(30deg);
    display: inline-block;
  }

  .logo-left2 {
    left: 110px;
    top: 80px;
    transform: rotate(-30deg);
    display: inline-block;
  }
}

@media screen and (min-width: 1280px) {
  /* SERVICES */

  .services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-top: 10px;

    &-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      margin-bottom: 40px;
      gap: 50px;
      width: 90%;
      position: relative;

      .services-img {
        width: 100%;
        max-width: 400px;
        max-height: 229px;
        border-radius: 10px;
        outline: 3px solid $lightBlue;
        box-shadow: 5px 5px 60px $darkBlue;
      }

      .text-container {
        display: flex;
        flex-direction: column;
        width: 40%;
        text-align: left;

        h3 {
          font-size: 26px;
          text-align: left;
        }

        p {
          font-size: 15px;
          margin-top: 20px;
        }
      }
      .right-align {
         p {
          text-align: right;
        }
      }

      .right-align h3 {
        text-align: right;
      }

      .logo-right1 {
        right: -70px;
        top: 50px;
        transform: rotate(30deg);
        display: flex;
      }

      .logo-left1 {
        left: -70px;
        top: 50px;
        transform: rotate(-30deg);
        display: flex;
      }

      .logo-right2 {
        right: 10px;
        top: 80px;
        transform: rotate(30deg);
        display: inline-block;
      }

      .logo-left2 {
        left: 10px;
        top: 80px;
        transform: rotate(-30deg);
        display: inline-block;
      }
    }

    .row-reverse {
      flex-direction: row-reverse;
    }
  }
}
