// GENERALS SETTINGS

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: $backgroundWhite;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "red hat display", sans-serif;
}

main {
  flex: 1;
  padding: 10px 30px;
  margin-top: 5px;
  background-image: url(../../assets/images/Meteor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

main div p {
  color: $textGray;
}

.font-color {
  color: $darkBlue;
}

.disabled {
  pointer-events: none;
  color: #bbbbbb;
  text-decoration: none;
  cursor: default;
}

/* FLOAT IMAGES */

.float-logo {
  position: absolute;
  filter: drop-shadow(30px 20px 9px #1a5f7a);
}

.float-logo img {
  width: 90px;
  height: 90px;
}

// RESPONSIVE

@media screen and (min-width: 1280px) {
  body {
    width: 92%;
  }

  main {
    flex: 1;
    padding: 20px 60px;
    margin-top: 10px;
  }
}
