/* GENERAL SETTINGS */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #eeeeee;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  font-family: "red hat display", sans-serif;
}

main {
  flex: 1;
  padding: 20px 60px;
  margin-top: 10px;
}

main div p {
  color: #606060;
}

.font-color {
  color: #002b5b;
}

/* HEADER */

header {
  color: #002b5b;
  position: relative;
  margin: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 12px 10px;
}

.header-section {
  display: flex;
}

header section h1 {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

nav {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  padding-left: 0;
  display: flex;
  gap: 60px;
}

ul li a {
  display: flex;
  text-decoration: none;
  font-weight: 600;
  color: #002b5b;
  padding: 10px 20px;
  transition: all 0.15s ease;
}

ul li a:hover {
  border-bottom: 2px solid #57c5b6;
  transform: translate(-3px, -3px);
}

.shadow-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-color: #1a5f7a;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(26, 95, 122, 0.75);
}

/* FLOAT IMAGES */

.float-logo {
  position: absolute;
  filter: drop-shadow(30px 20px 9px #1a5f7a);
}

.float-logo img {
  width: 90px;
  height: 90px;
}



/* HOME */

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-title {
  line-height: 70px;
  margin-bottom: 10px;
}

.home-paragraph {
  margin-bottom: 50px;
}

.home-container h3 {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.home-container h3 span {
  font-size: 100px;
  font-weight: 500;
}

.home-container p {
  font-size: 18px;
}

.main-logo {
  width: 270px;
  height: 270px;
  filter: drop-shadow(20px 15px 15px #1a5f7a);
}

.main-home-button {
  background-color: #57c5b6;
  border: 3px solid #002b5b;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px;
  width: 150px;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}
.main-home-button a {
  text-decoration: none;
  color: #fff;
}

.main-home-button:hover {
  background-color: #159895;
  box-shadow: 2px 2px 20px #002b5b;
}

/* SERVICES */

.services-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  padding-top: 10px;
}

.services-img {
  width: 100%;
  max-width: 400px;
  max-height: 229px;
  border-radius: 10px;
  outline: 3px solid #1a5f7a;
  box-shadow: 5px 5px 60px #002b5b;
}

.services-container {
  display: flex;
  margin-bottom: 40px;
  gap: 50px;
  width: 90%;
  position: relative;
}

.row-reverse {
  flex-direction: row-reverse;
}

.services-text-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.services-text-container h4 {
  font-size: 26px;
}

.services-text-container p {
  font-size: 15px;
  margin-top: 20px;
}

.right-align {
  text-align: right;
}

.logo-right1 {
  right: -70px;
  top: 50px;
  transform: rotate(30deg);
}

.logo-left1 {
  left: -70px;
  top: 50px;
  transform: rotate(-30deg);
}

.logo-right2 {
  right: 140px;
  top: 80px;
  transform: rotate(30deg);
}

.logo-left2 {
  left: 140px;
  top: 80px;
  transform: rotate(-30deg);
}

/* ABOUT US */

.about-main {
  display: flex;
  gap: 8rem;
  padding: 40px;
  justify-content: center;
}

.about-section-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.about-video {
  outline: 3px solid #1a5f7a;
  box-shadow: 5px 5px 60px #002b5b;
  border-radius: 10px;
}

.about-logo-container {
  line-height: 0.5em;
}

.about-logo {
  width: 210px;
  height: 210px;
  filter: drop-shadow(20px 15px 15px #1a5f7a);
}

.about-logo-container h5 {
  font-size: 22px;
  font-weight: 800;
}

.about-section-r {
  max-width: 40%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.about-section-r h2 {
  font-weight: 800;
  font-size: 72px;
  color: #57c5b6;
  -webkit-text-stroke: 1px #159895;
}

.about-section-r p {
  color: #606060;
  font-size: 15px;
  margin-top: 20px;
}

/* GAMES */

.games-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  
}

.games-boxGame {
  width: 250px;
  text-align: center;
  border: 1px solid #002b5b;
  border-radius: 50px;
  display: grid;
  box-shadow: 3px -2px 20px #002b5b;

}

.games-boxGame:hover {
  transform: translate(-10px, -10px);
  transition: all 0.3s ease-in-out;
  box-shadow: 3px -2px 5px #002b5b;
}

.img-container {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-bottom: 25px;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.games-text-container {
  padding: 15px;
  min-height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.games-text-container h3 {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
}

.games-text-container p {
  margin-bottom: 30px;
  font-size: 15px;
}

.gameBox-line{
  width: 100%;
  border-color: #1a5f7a;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(26, 95, 122, 0.75);
  margin-bottom: 15px;
}

.games-download {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 18px;
}

/* CONTACT */

.contact-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  position: relative;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; 
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  min-width: 300px;
}

.contact-title {
  text-align: center;
  margin-bottom: 30px;
  color: #57c5b6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 65px;
  -webkit-text-stroke: 1px #159895;

}

.contact-form label {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.contact-form input {
  margin-bottom: 30px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #002b5b;
  outline: none;
  padding: 5px;
  font-size: 15px;
}

.contact-form textarea {
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #002b5b;
  outline: none;
  padding: 5px;
  font-size: 15px;
}

.contact-form input:focus, .contact-form textarea:focus {
  box-shadow: 2px 2px 50px #002b5b;
  border: 2px solid #1a5f7a;
}

.contact-form button {
  width: 150px;
  margin: 0 auto;
  height: 40px;
  border: 1px solid #159895;
  border-radius: 10px;
  color: #fff;
  background-color: #57c5b6;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
}

.contact-form button:hover {
  background-color: #159895;
  border: 1px solid #57c5b6;
  cursor: pointer;
}

.logo-contact-right {
  left: 200px;
  top: 100px;
  transform: rotate(-30deg)
}

.logo-contact-left {
  right: 200px;
  bottom: 100px;
  transform: rotate(30deg)
}

/* FOOTER */

footer {
  background-color: #002b5b;
  color: #ffffff;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  padding: 45px;
  display: flex;
  gap: 25%;
  height: 80px;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid #159895;
  border-left: 2px solid #159895;
  border-right: 2px solid #159895;
}

footer section {
  text-align: center;
}

.footer-group-icons {
  display: flex;
  gap: 35px;
  font-size: 25px;
}

.footer-icon {
  text-decoration: none;
  color: #fff;
}
