





/* GAMES */

.games-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  
}

.games-container h2{
  font-weight: 700;
  font-size: 48px;
}

.games-boxGame {
  width: 300px;
  text-align: center;
  border: 1px solid #002b5b;
  border-radius: 50px;
  display: grid;
  box-shadow: 3px -2px 20px #002b5b;

}

.games-boxGame:hover {
  transform: translate(-10px, -10px);
  transition: all 0.3s ease-in-out;
  box-shadow: 3px -2px 5px #002b5b;
}

.img-container {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-bottom: 25px;
}

.img-container img {
  width: 100%;
  height: auto;
  border-radius: 50px;
}

.games-text-container {
  padding: 15px;
  min-height: 379px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

.games-text-container h3 {
  margin-bottom: 10px;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
}

.games-text-container p {
  margin-bottom: 30px;
  font-size: 15px;
}

.gameBox-line{
  width: 100%;
  border-color: #1a5f7a;
  border-width: 1px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(26, 95, 122, 0.75);
  margin-bottom: 15px;
}

.games-download {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  font-size: 18px;
}

/* CONTACT */

.contact-container {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-width: 320px;
}

.contact-title {
  text-align: center;
  margin-bottom: 30px;
  color: #57c5b6;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 48px;
  -webkit-text-stroke: 1px #159895;
}

.contact-form label {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
}

.contact-form input {
  margin-bottom: 30px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #002b5b;
  outline: none;
  padding: 5px;
  font-size: 15px;
}

.contact-form textarea {
  margin-bottom: 30px;
  border-radius: 5px;
  border: 1px solid #002b5b;
  outline: none;
  padding: 5px;
  font-size: 15px;
}

.contact-form input:focus, .contact-form textarea:focus {
  box-shadow: 2px 2px 50px #002b5b;
  border: 2px solid #1a5f7a;
}

.contact-form button {
  width: 150px;
  margin: 0 auto;
  height: 40px;
  border: 1px solid #159895;
  border-radius: 10px;
  color: #fff;
  background-color: #57c5b6;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  padding: 5px;
}

.contact-form button:hover {
  background-color: #159895;
  border: 1px solid #57c5b6;
  cursor: pointer;
}

.logo-contact-right {
  left: 200px;
  top: 100px;
  transform: rotate(-30deg);
  display: none;
}

.logo-contact-left {
  right: 200px;
  bottom: 100px;
  transform: rotate(30deg);
  display: none;
}



/* RESPONSIVE */


@media screen and (min-width: 1280px) {

  

  /* GAMES */

.games-container {
  padding: 20px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.games-container h2{
  display: none;
}

.games-boxGame{
  width: 250px;
}
  

  /* CONTACT */

  .contact-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
  }

  .contact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; 
  }

  .contact-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 300px;
  }

  .contact-title {
    text-align: center;
    margin-bottom: 30px;
    color: #57c5b6;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 65px;
    -webkit-text-stroke: 1px #159895;
  }

  .logo-contact-right {
    left: 200px;
    top: 100px;
    transform: rotate(-30deg);
    display: inline-block;
  }
  
  .logo-contact-left {
    right: 200px;
    bottom: 100px;
    transform: rotate(30deg);
    display: inline-block;
  }


  
  

  
}